<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/campus_connect?zeroDateTimeBehavior=convertToNull</property>
    <!-- <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property> -->
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <!--<property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- configuration pool via c3p0-->
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <mapping resource="com/campusconnect/server/CommunityMsg.hbm.xml"/>
    <mapping resource="com/campusconnect/server/IncidentPicture.hbm.xml"/>
    <mapping resource="com/campusconnect/server/Users.hbm.xml"/>
    <mapping resource="com/campusconnect/server/IncidentMsg.hbm.xml"/>
    <mapping resource="com/campusconnect/server/Device.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
