@charset "utf-8";
/* CSS Document */

	html, body {
		margin: 0px;
		padding: 0px;
		/*background-color: #414141;*/
		background-image:url('../images/diag_background.png');
	}
	
	div {
		margin: 0px;
	}
	
	.center {
		text-align: center;
	}
	
	#filtering h1 {
		border-bottom: 1px solid #000;
		margin: 0px;
		margin-bottom: 10px;
	}
	
	#header {
		background-color: #A7A6A0;
		margin: 0 0 10px 0;
		padding: 0px;
		-webkit-box-shadow: 0 8px 6px -6px black;
		-moz-box-shadow: 0 8px 6px -6px black;
		box-shadow: 0 8px 6px -6px black;
	}
	
	#header h1 {
		margin: 0px;
		color: #FFFFFF;
		font-size: 50px;
		padding: 10px;
	}
	
	#welcome img {
		padding: 20px;
	}
	
	#content_wrapper {
		margin-top:0px;
		width: 1297px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#left_nav {
		margin-bottom: 10px;
		width: 120px;
		float:left;
		clear:right;
	}
	
	#left_nav ul {
		text-align: center;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	
	#left_nav ul li {
		margin-bottom: 2px;
	}
	
	#left_nav ul a:hover {
		background-color: #A7A6A0;
	}
	
	#left_nav ul a { 
	  display: block; 
	  padding: 20px;
	  background-color: #FFFFFF;
	  color: #000; 
	  text-decoration: none;
	  font-family: �Trebuchet MS�, Helvetica, sans-serif;
	  font-size: 11px;
	}
	
	#main {
		margin-left: 130px;
		padding: 10px;
		background-color: #FFFFFF;
	}
	
	#main h1 {
		font: bold 34px/50px "Verdana", Geneva, sans-serif;
		color: #FFFFFF;
	}
	
	#example {
		clear: right;
	}
	
	#data {
		margin-top : 10px;
		padding-bottom: 20px;
	}
	
	#data h1 {
		font: bold 20px/30px "Verdana", Geneva, sans-serif;
		text-align: center;
		color: #000;
	}
	
	#data table tr {
		text-align: center;
	}

	#data h1 {
		border-bottom: 1px solid #000;
		margin: 0px;
		margin-bottom: 10px;
	}
	
	.display-none {
		display:none;
	}
	
	.filters {
		display: inline;
		text-align: center;
		padding: 10px;
		margin-left: 70px;
	}
	
	#filtertable {
		padding: 5px;
		text-align: center;
		background-color: #E8E8E8;
	}
	
	#filtertable label {
		font: bold 12px "Verdana", Geneva, sans-serif;
	}
	
	#filtering {
		background-color: #A7A6A0;
		padding: 10px;
		padding-bottom: 30px;
	}
	
	#filtering h1 {
		font: bold 20px/30px "Verdana", Geneva, sans-serif;
		text-align: center;
	}
	
	#current_filters {
		margin-top: 10px;
		padding: 10px 0 10px 10px;
	}
	
	.wanted {
		background-color: #34BA46;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	
	.applied_filter {
		padding: 5px;
		margin: 2px;
		display: inline-block;
		border-radius: 4px;
		font-size: 11px;
		font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
		background: #eee;
	}
	
	.applied_filter b {
		padding-right: 5px;
		font-weight: normal;
		color: #666;
	}
	
	.applied_filter img {
		vertical-align: middle;
	}
	
	.applied_filter img:hover {
		cursor: pointer;
	}
	
	#file-name {
		background-color: #B1B1B1;
		padding: 10px;
		margin-left: 20px;
		width: 200px;
	}
	
	#footer {
		background-color: #A7A6A0;
		text-align: center;
		clear: both;
	}
	
	#footer a {
		color: #FFF
	}
	
	#footer a:hover {
		color:#87B1BE;
	}
	
	#footer p {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0;
	}
	
	form.cmxform fieldset {
	  margin-bottom: 10px;
	}
	form.cmxform legend {
	  padding: 0 2px;
	  font-weight: bold;
	}
	form.cmxform label {
	  display: inline-block;
	  line-height: 1.8;
	  vertical-align: top;
	}
	form.cmxform fieldset ol {
	  margin: 0;
	  padding: 0;
	}
	form.cmxform fieldset li {
	  list-style: none;
	  padding: 5px;
	  margin: 0;
	}
	form.cmxform fieldset fieldset {
	  border: none;
	  margin: 3px 0 0;
	}
	form.cmxform fieldset fieldset legend {
	  padding: 0 0 5px;
	  font-weight: normal;
	}
	form.cmxform fieldset fieldset label {
	  display: block;
	  width: auto;
	}
	form.cmxform em {
	  font-weight: bold;
	  font-style: normal;
	  color: #f00;
	}
	form.cmxform label {
	  width: 163px; /* Width of labels */
	}
	form.cmxform fieldset fieldset label {
	  margin-left: 123px; /* Width plus 3 (html space) */
	}
